In [1]:
from tabulate import tabulate

name = input('Masukkan Nama Lengkap: ')
hobby = input('Masukkan hobi anda: ')
email = input('Masukkan email anda: ')
nilai_uts = int(input('Masukkan nilai UTS anda: '))
nilai_uas = int(input('Masukkan nilai UAS anda: '))


if (nilai_uts + nilai_uas) <= 125 or nilai_uts <= 60 or nilai_uas <= 60:
    status = 'Gagal'
else:
    status = 'Lulus'


data = [
    ["Nama Lengkap", name],
    ["Hobi", hobby],
    ["E-mail", email],
    ["Nilai UTS", nilai_uts],
    ["Nilai UAS", nilai_uas],
    ["Status", status]
]


print('\n\n--------------------------')
print('|   BERIKUT DATA ANDA    |')
print('--------------------------')
print(tabulate(data, tablefmt="grid"))

Masukkan Nama Lengkap:  kristian
Masukkan hobi anda:  makan
Masukkan email anda:  kristian@email.com
Masukkan nilai UTS anda:  80
Masukkan nilai UAS anda:  80

--------------------------
|   BERIKUT DATA ANDA    |
--------------------------
+--------------+--------------------+
| Nama Lengkap | kristian           |
+--------------+--------------------+
| Hobi         | makan              |
+--------------+--------------------+
| E-mail       | kristian@email.com |
+--------------+--------------------+
| Nilai UTS    | 80                 |
+--------------+--------------------+
| Nilai UAS    | 80                 |
+--------------+--------------------+
| Status       | Lulus              |
+--------------+--------------------+

In [2]:
def to_binary(decimal):
    binary = ''
    if decimal == 0:
        return '0'
    while decimal > 0:
        binary = str(decimal %2) + binary
        decimal = decimal // 2
    return binary

def to_oktal(decimal):
    oktal = ''
    if decimal == 0:
        return '0'
    while decimal > 0:
        oktal = str(decimal % 8) + oktal
        decimal = decimal // 8
    return oktal

def to_hexa(decimal):
    hexa = ''
    if decimal == 0:
        return '0'
    while decimal > 0:
        hexa = str(decimal % 16) + hexa
        decimal = decimal // 16
    return hexa


user_input = input('Input: ')

if user_input.isdigit():
    decimal = int(user_input)
else:
    decimal = ord(user_input)

print('Desimal: ', decimal)
print('Binary: ', to_binary(decimal))
print('Oktal: ', to_oktal(decimal))
print('Hexadesimal: ', to_hexa(decimal))

Input:  A

Desimal:  65
Binary:  1000001
Oktal:  101
Hexadesimal:  41

In [3]:
s = 12

while s <= 19:
    if s <= 15:
        print(s)
    elif s > 18:
        print('Selesai')
        print(s)
    s = s + 1

12
13
14
15
Selesai
19